.header{
    display: flex;
    border-bottom: 2px solid black;
    padding-left: 1rem;
}

.logo-img{
    width: 6rem;
}

body {
    margin: 0;
  }
  
  .burger-menu {
      margin: 40px 0 0 40px;
    
      .menu-check {
          display:none;
      }
    
      .menu-open {
        padding: 30px 40px;
        border-radius: 100%; 
        position:relative;
        cursor:pointer;
        z-index:1;
        
        span {
          width:40px;
          height:3px;
          position:absolute;
          top:50%;
          left: 50%;
          margin-top:height/2;
          margin-left:width/2;
          background-color:#000000;
          font-weight: bold;
          opacity:1;
          transition: 0.3s;
          
          &.burger1 {
            transform: translate3d(0px, -10px, 0px);
          }
          
          &.burger2 {
            transform: translate3d(0px, 0px, 0px);
            transition: 0.1s;
          }
          
          &.burger3 {
            transform: translate3d(0px, 10px, 0px);
          }
        }
      }
      .menu-check:checked+.menu-open {
        
        border:0;
        
        span {
          background-color:#ffffff;
          
          &.burger1 {
            transform: translate3d(0px, -10px, 0px) rotate(-45deg);
            width: 30px;
          }
          
          &.burger2 {
            opacity:0;
          }
          
          &.burger3 {
            transform: translate3d(0px, 10px, 0px) rotate(45deg);
            width: 30px;
          }
        }
      }
  
      .menu-options {
        background-color: #000000;
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        padding: 100px 0px 50px;
        opacity:0;
        transition:0.3s;
        
        li {
          color: #fff;
          text-align: center;
          list-style: none;
          display: block;
          font-weight: normal;
          
          a {
            text-decoration: none;
            color: #fff;
            line-height: 4em;
            display: block;
            transition:0.5s;
            
            &:hover {
              background: #65B74D;
            }
          }
          
          &.search {
            margin-bottom: 1em;
            
            .search-box {
              width: 300px;
              height: 35px;
              font-size: 1em;
              color: #299309;
              padding: 0 15px;
              font-weight: lighter;
            }
          }
        }
      }
    
      .menu-check:checked ~ .menu-options {
        width:100%;
        opacity:1;
      }
    }